<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="traceSettings" type="MqConnector.Models.TraceSettings, MqConnector"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="CertLabel" value="ibmwebspheremqsystem"/>
    <add key="MQCipherSpec" value="TLS_RSA_WITH_AES_128_CBC_SHA256"/>
    <add key="KeyStore" value="*SYSTEM"/>
    <add key="MQTRACECONFIGFILEPATH" value="c:\users\jasz\documents\visual studio 2017\Projects\MqConnector\MqConnector" />
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <traceSettings configSource="mqtrace.config">
  </traceSettings>
    <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
